#header{
    border-top: 2px solid #e74c3c;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 155px;
    height: 34px;
    filter: alpha(opacity=0);
    opacity: 0;
    display: block;
    cursor: pointer;
}

.alert  [data-growl="message"]{
    margin-right: 20px;
}
.alert-success {
    background-color: #00bc8c;
    border-color: #00bc8c;
    color: #ffffff;
}
.alert-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}
.input-group .form-control{
    z-index: 0;
}
.main-text
{
    padding: 20px 0;
    position: absolute;
    top: 120px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;

}
.main-text h1{
    font-size: 3em;
    opacity: 1;
}
#carousel-1 img{
    opacity: 0.7;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    min-height: 150px;
}
@media (max-width: 767px) {
    .show-xs {
        display: block !important
    }
    .main-text{
        padding-top: 0;
        top:70px;
    }
}

@media (min-width: 768px) {
    .show-xs {
        display: none !important
    }
    #carousel-1 img{
        min-height: 450px;
    }
}

#coverDisplay {
    position: fixed;
    top: 0;
    left: 0;
    background: #444;
    background: rgba(68,68,68,0.95);
    overflow: hidden;
    filter: alpha(opacity=0);
    opacity: 0;z-index: 1500;
}
#imgLoading{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}
#mis-sitios{
    margin-right: 20px;
}

.icon-animated-bell {
    display: inline-block;
    -moz-animation: ringing 2s 5 ease 1s;
    -webkit-animation: ringing 2s 5 ease 1s;
    -o-animation: ringing 2s 5 ease 1s;
    -ms-animation: ringing 2s 5 ease 1s;
    animation: ringing 2s 5 ease 1s;
    -moz-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    font-size: 1.5em !important;
    color: #e74c3c;
}

@-moz-keyframes ringing {
    0% {
        -moz-transform: rotate(-15deg)
    }
    2% {
        -moz-transform: rotate(15deg)
    }
    4% {
        -moz-transform: rotate(-18deg)
    }
    6% {
        -moz-transform: rotate(18deg)
    }
    8% {
        -moz-transform: rotate(-22deg)
    }
    10% {
        -moz-transform: rotate(22deg)
    }
    12% {
        -moz-transform: rotate(-18deg)
    }
    14% {
        -moz-transform: rotate(18deg)
    }
    16% {
        -moz-transform: rotate(-12deg)
    }
    18% {
        -moz-transform: rotate(12deg)
    }
    20% {
        -moz-transform: rotate(0deg)
    }

}

@-webkit-keyframes ringing {
    0% {
        -webkit-transform: rotate(-15deg)
    }
    2% {
        -webkit-transform: rotate(15deg)
    }
    4% {
        -webkit-transform: rotate(-18deg)
    }
    6% {
        -webkit-transform: rotate(18deg)
    }
    8% {
        -webkit-transform: rotate(-22deg)
    }
    10% {
        -webkit-transform: rotate(22deg)
    }
    12% {
        -webkit-transform: rotate(-18deg)
    }
    14% {
        -webkit-transform: rotate(18deg)
    }
    16% {
        -webkit-transform: rotate(-12deg)
    }
    18% {
        -webkit-transform: rotate(12deg)
    }
    20% {
        -webkit-transform: rotate(0deg)
    }

}

@-ms-keyframes ringing {
    0% {
        -ms-transform: rotate(-15deg)
    }
    2% {
        -ms-transform: rotate(15deg)
    }
    4% {
        -ms-transform: rotate(-18deg)
    }
    6% {
        -ms-transform: rotate(18deg)
    }
    8% {
        -ms-transform: rotate(-22deg)
    }
    10% {
        -ms-transform: rotate(22deg)
    }
    12% {
        -ms-transform: rotate(-18deg)
    }
    14% {
        -ms-transform: rotate(18deg)
    }
    16% {
        -ms-transform: rotate(-12deg)
    }
    18% {
        -ms-transform: rotate(12deg)
    }
    20% {
        -ms-transform: rotate(0deg)
    }

}

@keyframes ringing {
    0% {
        transform: rotate(-15deg)
    }
    2% {
        transform: rotate(15deg)
    }
    4% {
        transform: rotate(-18deg)
    }
    6% {
        transform: rotate(18deg)
    }
    8% {
        transform: rotate(-22deg)
    }
    10% {
        transform: rotate(22deg)
    }
    12% {
        transform: rotate(-18deg)
    }
    14% {
        transform: rotate(18deg)
    }
    16% {
        transform: rotate(-12deg)
    }
    18% {
        transform: rotate(12deg)
    }
    20% {
        transform: rotate(0deg)
    }

}
.badge {
    position: relative;
    top: -4px;
    left: 2px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #d15b47!important;
    text-shadow: none;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 4px;
}